h1{
  color: blue;
}

a{
  color: orange;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

h2{
  font-family: 'Raleway', sans-serif;
}

#about{
  background-color: orange;
}

#education{
  background-color: yellow;
}

#experience{
  background-color: green;
}

#hobbies{
  background-color: blue;
}
#skills{
  background-color: pink;
}

.header{
  border: 2px solid black;
  border-radius: 2px;
}

.list{
  font-style: italic;
}
